{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark orange">
    <a class="navbar-brand" href="{% url 'budget:choose' %}">
        <img id="logo" style="mix-blend-mode: multiply;" src="{% static '/home/img/logo-daras.png' %}" height="50">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'budget:choose' %}">Inicio
          </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li> -->
      </ul>
      <span class="navbar-text white-text">
        {{request.user.get_full_name}}
      </span>
      <span class="navbar-text white-text ml-3">
        <a title="Cerrar sesión" href="{% url 'home:logout' %}" style="color: white;">
            <i class="fas fa-sign-out-alt"></i>
        </a>
      </span>
    </div>
  </nav>