{% extends "budget/base.html" %}
{% load static %}

{% block title %}
<title>Completar presupuesto - DARAS</title>
{% endblock title %}

{% block content %}

<!-- Heading -->
<div class="card mb-1 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">

        <h6 class="mb-2 mb-sm-0 pt-1">
            <span class="text-muted">Dashboard</span>
            <span class="text-muted">/</span>
            <span class="text-muted">Presupuesto</span>
            <span class="text-muted">/</span>
            <span>Resumen</span>

        </h6>

    </div>

</div>
<!-- Heading -->

<div class="row mt-3">
    <div class="col-12">
        <div class="card p-5 wow fadeIn">

            <div class="card-body">
                <h1 class="text-left">
                    Resumen
                </h1>
                <hr style="margin-bottom: 20px;">

                <!-- Budget summary -->
                <h5>Información general</h5>
                <table>
                    <tr>
                        <td>
                            Cliente
                        </td>
                        <td>
                            {{budget.client.name}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Riesgo
                        </td>
                        <td>
                            {{budget.risk}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Objeto
                        </td>
                        <td>
                            {{budget.subject}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Tipo de cobro
                        </td>
                        <td>
                            {{budget.get_time_display}}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Tipo de servicio
                        </td>
                        <td>
                            {{budget.service}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Calcular IVA en base a
                        </td>
                        <td>
                            {{budget.get_iva_option_display}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            % de administración
                        </td>
                        <td>
                            {{budget.administration_percentage}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            % de imprevistos
                        </td>
                        <td>
                            {{budget.incidentals_percentaje}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            % de utilidad
                        </td>
                        <td>
                            {{budget.utility_percentage}}
                        </td>
                    </tr>
                    {% if budget.comment %}
                    <tr>
                        <td>
                            <strong>
                                Observaciones
                            </strong>
                        </td>
                        <td>
                            {{budget.comment}}
                        </td>
                    </tr>
                    {% endif %}
                </table>

                <hr class="my-3">

                <!-- Budget items -->
                {% if items %}
                    <h5>Actividades</h5>
                    <table id="itemsTable" class="table table-hover">
                        <thead>
                            <tr class="text-center">
                                <th>
                                    #
                                </th>
                                <th>
                                    Descripción
                                </th>
                                <th>
                                    Unidad
                                </th>
                                <th>
                                    Cantidad
                                </th>
                                <th>
                                    Opciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr style="background-color: rgba(0,0,0,.075);">
                                <td class="text-center">
                                    {{forloop.counter}}
                                </td>
                                <td colspan="4">
                                    {{item.description}}
                                </td>
                            </tr>
                            {% if item.subitems %}
                                {% for i in item.subitems.all %}
                                    <tr class="text-center">
                                        <td class="text-right">
                                            {{forloop.parentloop.counter}}.{{forloop.counter}}
                                        </td>
                                        <td class="text-left">
                                            {{i.description}}
                                        </td>
                                        <td>
                                            {{i.unit.name}}
                                        </td>
                                        <td>
                                            {{i.amount}}
                                        </td>
                                        <td>
                                            <a href="{% url 'budget:edit-subitem' budget.id item.id i.id %}">
                                                <i class="far fa-edit"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

                <hr class="my-5">
                <a href="{% url 'budget:fill-budget' budget.id %}" class="btn btn-primary">Editar</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
{{block.super}}
<!-- When Document is ready -->
<script>
    $(document).ready(function () {
        /* Highlight current sidebar item */
        $('#sidebar .list-group-item').removeClass('active');
        var $this = $('#btnSidebarBudget');
        if (!$this.hasClass('active')) {
            $this.addClass('active');
        }
        /* Highlight current sidebar item */
    });
</script>
{% endblock scripts %}