{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Reporte de presupuesto</title>
    <style>
        #TableAPU {
            border: 1px solid #ddd;
            width: 100%;
        }

        table th,
        td {
            padding-top: 3px;
            padding-bottom: 2px;
            line-height: 50%;
        }
        
        @page {
            size: letter portrait;
            margin: 1cm;
            
            @frame footer_frame {
                -pdf-frame-content: footer_content;
                /* width: 500pt; */
                width: 612pt;
                height: 200pt;
                top: 772pt;
                /* left: 120pt; */
                text-align: center;
            }
        }

    </style>
</head>

<body>
    <!-- Budget report -->
    <table align="center" id="TableAPU" cellpadding="5">
        <thead>
            <tr>
                <td colspan="8" style="text-align: center; padding: 15px; line-height: normal;">
                    <h1 style="padding: 0; margin: 0;">
                        PRESUPUESTO
                    </h1>
                </td>
            </tr>
            <tr>
                <td colspan="2" rowspan="4">
                    <img src="http://localhost:8000/static/home/img/logo-daras.png" alt="" style="height: auto;">
                </td>
                <td>
                    CLIENTE:
                </td>
                <td colspan="3">
                    {{budget.client.name}}
                </td>
                <td>
                    NIT
                </td>
                <td style="text-align: center;">
                    {{budget.client.nit}}
                </td>
            </tr>
            <tr>
                <td>
                    ID:
                </td>
                <td style="text-align: center;">
                    {{budget.consecutive}}
                </td>
                <td>
                    T.E.E
                </td>
                <td style="text-align: center;">
                    {{budget.delivery_time}}
                </td>
                <td>
                    ESCALA
                </td>
                <td style="text-align: center;">
                    {{budget.get_time_display}}
                </td>
            </tr>
            <tr>
                <td>
                    FECHA:
                </td>
                <td colspan="3" style="text-align: center;">
                    {{budget.created}}
                </td>
                <td>
                    REVISIÓN
                </td>
                <td style="text-align: center;">
                    {{budget.rev_number}}
                </td>
                
            </tr>
            <tr>
                <td>
                    OBJETO:
                </td>
                <td colspan="5" style="flex-wrap: wrap;">
                    {{budget.subject}}
                </td>
            </tr>
            
        </thead>
        <tbody>
            
            {% if items %}
                <tr style="background-color: #ddd; text-align: center; font-weight: bold;">
                    <td>
                        ITEM
                    </td>
                    <td colspan="3">
                        DESCRIPCIÓN
                    </td>
                    <td>
                        UNIDAD
                    </td>
                    <td>
                        CANTIDAD
                    </td>
                    <td>
                        VALOR UNITARIO
                    </td>
                    <td>
                        VALOR TOTAL
                    </td>
                </tr>
                {% for item in items %}
                    <tr>
                        <td style="background-color: #ddd; text-align: center;">
                            {{forloop.counter}}
                        </td>
                        <td colspan="7" style="background-color: #ddd;">
                            {{item.description}}
                        </td>
                    </tr>
                    
                    {% for i in item.subitems.all %}
                        <tr>
                            <td style="text-align: right;">
                                {{forloop.parentloop.counter}}.{{forloop.counter}}
                            </td>
                            <td colspan="3">
                                {{i.description}}
                            </td>
                            <td style="text-align: center;">
                                {{i.unit.acronym}}
                            </td>
                            <td style="text-align: center;">
                                {{i.amount}}
                            </td>
                            <td style="text-align: center;">
                                $ {{i.unit_value|default_if_none:""|intcomma}}
                            </td>
                            <td style="text-align: center;">
                                $ {{i.total_value|default_if_none:""|intcomma}}
                            </td>
                        </tr>
                    {% endfor %}
                        
                {% endfor %}
                    
            {% endif %}
            <tr style="font-weight: bold;">
                <td colspan="7" style="background-color: #ddd;">
                    TOTAL COSTOS DIRECTOS
                </td>
                <td style="background-color: #ddd; text-align: center;">
                    ${{total_direct_cost|intcomma}}
                </td>
            </tr>
            
            {% if budget.aiu_over == '1' %}
            <tr>
                <td colspan="6">
                    Administración
                </td>
                <td style="text-align: right;">
                    {{budget.administration_percentage}} %
                </td>
                <td style="text-align: center;">
                    $ {{administration_value|floatformat:0|intcomma}}
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    Imprevistos
                </td>
                <td style="text-align: right;">
                    {{budget.incidentals_percentaje}} %
                </td>
                <td style="text-align: center;">
                    $ {{incidentals_value|floatformat:0|intcomma}}
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    Utilidad
                </td>
                <td style="text-align: right;">
                    {{budget.utility_percentage}} %
                </td>
                <td style="text-align: center;">
                    $ {{utility_value|floatformat:0|intcomma}}
                </td>
            </tr>
                
            {% endif %}
                
            <tr style="background-color: #ddd; font-weight: bold;">
                <td colspan="7">
                    TOTAL COSTOS INDIRECTOS
                </td>
                <td style="text-align: center;">
                    $ {{total_indirect_cost|floatformat:0|intcomma}}
                </td>
            </tr>
            <tr>
                <td colspan="7">
                    SUBTOTAL (Costos directos + indirectos)
                </td>
                <td style="text-align: center;">
                    $ {{subtotal|floatformat:0|intcomma}}
                </td>
            </tr>
            <tr>
                <td colspan="6">
                    IVA SOBRE {{budget.get_iva_option_display|upper}}
                </td>
                <td style="text-align: right;">
                    {{budget.iva|floatformat:0}} %
                </td>
                <td style="text-align: center;">
                    $ {{iva_over|floatformat:0|intcomma}}
                </td>
            </tr>
            <tr style="background-color: black; color: white; font-weight: bold;">
                <td colspan="7">
                    COSTO TOTAL
                </td>
                <td style="text-align: center;">
                    $ {{total_cost|floatformat:0|intcomma}}
                </td>
            </tr>
            
        </tbody>
    </table>
    <br>
    {% if budget.comment %}
        <span style="margin: 20px 0 0 0;font-weight: bold;">OBSERVACIONES</span>
        <div style="width: 100%;border: 1px solid #ddd; padding: 20px; margin:0;">
            {{budget.comment|linebreaks}}
        </div>
    {% endif %}
    
    <!-- Footer -->
    <table id="footer_content">
        <tr>
            <td style="text-align: center;">
                Daras Ingenieria S.A.S. Teléfono: +5 6654474 - Celular: 313-5249278 - Correo: comercial@daras.com.co
            </td>
        </tr>
    </table>
</body>

</html>