{% extends "budget/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
<title>Completar presupuesto - DARAS</title>
{% endblock title %}



{% block content %}

<!-- Heading -->
<div class="row m-3">
    <div class="col-12">

        <div class="card mb-1 wow fadeIn">
        
            <!--Card content-->
            <div class="card-body d-sm-flex justify-content-between">
        
                <h6 class="mb-2 mb-sm-0 pt-1">
                    <span class="text-muted">Dashboard</span>
                    <span class="text-muted">/</span>
                    <span class="text-muted">Presupuesto</span>
                    <span class="text-muted">/</span>
                    <span>Resumen</span>
        
                </h6>
        
            </div>
        
        </div>
    </div>
</div>
<!-- Heading -->

<div class="row m-3 h-25">
    <!-- Budget summary -->
    <div class="col-3">
        
        <!-- Card -->
        <div class="card p-2 wow fadeIn">

            <div class="card-body">
                <h1 class="text-left">
                    General
                </h1>
                <small>Información general del presupuesto</small>
                <hr>
                <!-- Budget summary -->
                <table id="generalTable" class="table-sm table-striped table-responsive">
                    <tr>
                        <td>
                            <strong>
                                Numero de revisión
                            </strong>
                        </td>
                        <td class="text-center">
                            {{budget.rev_number}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                Cliente
                            </strong>
                        </td>
                        <td class="text-center">
                            {{budget.client.name}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                Riesgo
                            </strong>
                        </td>
                        <td class="text-center">
                            {{budget.risk}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                Tipo de cobro
                            </strong>
                        </td>
                        <td class="text-center">
                            {{budget.get_time_display}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                Tipo de servicio
                            </strong>
                        </td>
                        <td class="text-center">
                            {{budget.service}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                Tiempo de entrega
                            </strong>
                        </td>
                        <td class="text-center">
                            {{budget.delivery_time}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                Objeto
                            </strong>
                        </td>
                        <td class="text-center">
                            {{budget.subject|default_if_none:"-"}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                Aplicar AIU a
                            </strong>
                        </td>
                        <td class="text-center">
                            {{budget.get_aiu_over_display}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                Calcular IVA en base a
                            </strong>
                        </td>
                        <td class="text-center">
                            {{budget.get_iva_option_display}}
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>
                            <strong>
                                Porcentaje de administración
                            </strong>
                        </td>
                        <td class="text-center">
                            {{budget.administration_percentage|default_if_none:"-"}} %
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                Porcentaje de imprevistos
                            </strong>
                        </td>
                        <td class="text-center">
                            {{budget.incidentals_percentaje|default_if_none:"-"}} %
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>
                                Porcentaje de utilidad
                            </strong>
                        </td>
                        <td class="text-center">
                            {{budget.utility_percentage|default_if_none:"-"}} %
                        </td>
                    </tr> -->
                    {% if budget.comment %}
                    <!-- <tr>
                        <td>
                            Observaciones
                        </td>
                        <td style="font-size: small;">
                            {{budget.comment|linenumbers|linebreaks}}
                        </td>
                    </tr> -->
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
    <!-- Budget Activities -->
    <div class="col-9">
        <div class="card p-2 wow fadeIn">

            <div class="card-body">
                <h1>Actividades</h1>
                <small>Elige una actividad y crea su APU </small>
                <hr class="my-3">
                <!-- Budget items -->
                {% if items %}
                    <table id="itemsTable" class="table table-hover">
                        <thead>
                            <tr class="text-center">
                                <th>
                                    #
                                </th>
                                <th>
                                    Descripción
                                </th>
                                <th>
                                    Unidad
                                </th>
                                <th>
                                    Duración
                                </th>
                                <th>
                                    Cantidad
                                </th>
                                <th>
                                    Valor unitario
                                </th>
                                <th>
                                    Valor total
                                </th>
                                <th>
                                    Opciones
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in items %}
                            <tr style="background-color: rgba(0,0,0,.075);">
                                <td class="text-center">
                                    {{forloop.counter}}
                                </td>
                                <td colspan="7">
                                    {{item.description}}
                                </td>
                            </tr>
                            {% if item.subitems %}
                                {% for i in item.subitems.all %}
                                    <tr class="text-center">
                                        <td class="text-right">
                                            {{forloop.parentloop.counter}}.{{forloop.counter}}
                                        </td>
                                        <td class="text-left" style="width: 25%;">
                                            {{i.description}}
                                        </td>
                                        <td>
                                            {{i.unit.name}}
                                        </td>
                                        <td>
                                            {{i.duration}}
                                        </td>
                                        <td>
                                            {{i.amount}}
                                        </td>
                                        <td>
                                            {{i.unit_value|default_if_none:'-'|intcomma}}
                                        </td>
                                        <td>
                                            {{i.total_value|default_if_none:'-'|intcomma}}
                                        </td>

                                        <td class="d-flex justify-content-around">
                                            <a href="{% url 'budget:edit-subitem' budget.id item.id i.id %}">
                                                <i class="far fa-edit"></i>
                                            </a>
                                            {% if i.apu_exists %}
                                                <a href="{% url 'budget:preview-apu' budget.id item.id i.id %}">
                                                    <i class="far fa-eye"></i>
                                                </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

                <hr>
                <a href="{% url 'budget:fill-budget' budget.id %}" class="btn btn-primary">Editar</a>
                <a href="{% url 'budget:preview-budget' budget.id %}" class="btn btn-primary">Ver</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block scripts %}
{{block.super}}
<!-- When Document is ready -->
<script>
    $(document).ready(function () {
        /* Highlight current sidebar item */
        $('#sidebar .list-group-item').removeClass('active');
        var $this = $('#btnSidebarBudget');
        if (!$this.hasClass('active')) {
            $this.addClass('active');
        }
        /* Highlight current sidebar item */
    });
</script>
{% endblock scripts %}