{% extends "budget/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>Crear presupuesto - DARAS</title>
{% endblock title %}

{% block content %}

<!-- Heading -->
<div class="card mb-1 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">

        <h6 class="mb-2 mb-sm-0 pt-1">
            <span class="text-muted">Dashboard</span>
            <span class="text-muted">/</span>
            <span class="text-muted">Presupuesto</span>
            <span class="text-muted">/</span>
            <span>Nuevo presupuesto</span>
        </h6>

    </div>

</div>
<!-- Heading -->

<div class="row mt-3">
    <div class="col-12">

        <div class="card p-5 wow fadeIn">
            <!-- <h5 class="card-header h5">Crear presupuesto</h5> -->
            <div class="card-body">
                <h1 class="text-left">Nuevo presupuesto</h1>
                <hr style="margin-bottom: 50px;">
                <!-- <h5 class="card-title">Special title treatment</h5> -->
                
                <h2 class="card-title">Datos generales</h2>
                <form action="" method="POST" id="budget-form">
                    {% csrf_token %}

                    <div class="form-group">
                        <small>Las tarifas de este presupuesto serán por </small>
                        <div class="w-100 mb-3 nx-auto btn-group btn-group-toggle" data-toggle="buttons">
                            <label class="btn btn-primary form-check-label active">
                                <input class="form-check-input" type="radio" value="1" name="time" id="option1"
                                    autocomplete="off" >
                                Hora
                            </label>
                            <label class="btn btn-primary form-check-label">
                                <input class="form-check-input" type="radio" value="2" name="time" id="option2"
                                    autocomplete="off" checked>
                                Día
                            </label>
                            <label class="btn btn-primary form-check-label">
                                <input class="form-check-input" type="radio" value="3" name="time" id="option3"
                                    autocomplete="off">
                                Mes
                            </label>
                        </div>
                    </div>

                    <div class="d-flex justify-content-around">
                        <div class="md-form">
                            {% render_field form.administration_percentage class="form-control text-center text-center  m-auto" value="9" %}
                            <label for="id_administration_percentage">Porcentaje de admon </label>
                        </div>
                        <div class="md-form text-center">
                            {% render_field form.incidentals_percentaje class="form-control text-center  m-auto" value="6" %}
                            <label for="id_incidentals_percentaje">Porcentaje de imprevistos </label>
                        </div>
                        <div class="md-form text-center">
                            {% render_field form.utility_percentage class="form-control text-center  m-auto" value="4" %}
                            <label for="id_utility_percentage">Porcentaje de utilidad </label>
                        </div>
                    </div>

                    <div class="md-form">
                        <i class="fas fa-pencil-alt prefix"></i>
                        <textarea id="id_descripcion_trabajo" name="subject" class="md-textarea form-control" rows="3"></textarea>
                        <label for="id_descripcion_trabajo">Descripción del trabajo</label>
                    </div>

                    <div class="form-group">
                        {% render_field form.client class="mdb-select md-form" required="true" %}
                    </div>
                    <div class="form-group">
                        {% render_field form.risk class="mdb-select md-form" required="true" %}
                    </div>
                    <div class="form-group">
                        {% render_field form.service class="mdb-select md-form" required="true" %}
                    </div>
                    <div class="form-group">
                        {% render_field form.iva_option class="mdb-select md-form" required="true" %}
                    </div>

                    <h2 class="card-title">
                        Items
                    </h2>

                    <table class="table">
                        <thead class="text-center">
                            <tr>
                                <th class="text-center">
                                    ITEM
                                </th>
                                <th class="text-center">
                                    DESCRIPCIÓN
                                </th>
                                <th class="text-center">
                                    UNIDAD
                                </th>
                                <th class="text-center">
                                    CANTIDAD
                                </th>
                            </tr>
                        </thead>
                        <tbody id="itemsTable" class="text-center">
                        </tbody>
                        <tr>
                            <td colspan="3">

                            </td>
                            
                            <td class="text-right">
                                <a id="addItemButton" class="btn btn-success">AGREGAR</a>
                                <a id="removeItemButton" class="btn btn-danger">BORRAR</a>
                            </td>
                        </tr>
                    </table>

                    
                    <hr>
                    <button type="submit" form="budget-form" class="btn btn-primary btn-block">CREAR</a>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock content %}

{% block scripts %}
{{block.super}}
<script>
    $(document).ready(function () {
        
        $('.mdb-select').materialSelect();


        /* Highlight current sidebar item */
        $('#sidebar .list-group-item').removeClass('active');
        var $this = $('#btnSidebarBudget');
        if (!$this.hasClass('active')) {
            $this.addClass('active');
        }
        /* end of Highlight current sidebar item */

        /* Add elements to items table */
        var counter = 1;
        $("#addItemButton").click(function(){
            
            var itemUnit = document.createElement('td')
            itemUnit.classList.add('text-center')
            var HTMLString = 
            `
            <div class="form-group">
                {% render_field form2.unit name="unit" class="custom-select" required="true" %}
            </div>
            `
            itemUnit.innerHTML = HTMLString;
            
            var HTMLString2 = `
            <div class="form-group">
                <input type="text" name="title" class="form-control text-center" placeholder="Descripción" required="true">
            </div>
            `
            var row = document.createElement('tr');
            var itemNumber = document.createElement('td')
            itemNumber.classList.add('text-center')
            itemNumber.innerHTML = counter
            
            var itemTitle = document.createElement('td')
            itemTitle.classList.add('text-center')
            itemTitle.innerHTML = HTMLString2
            
            var HTMLString3 = 
            `
            <div class="form-group text-center">
                <input type="number" name="amount" class="form-control text-center" placeholder="Cantidad" required="true">
            </div>
            `
            var itemAmount = document.createElement('td')
            itemAmount.classList.add('text-center')
            itemAmount.innerHTML = HTMLString3;

            row.appendChild(itemNumber)
            row.appendChild(itemTitle)
            row.appendChild(itemUnit)
            console.log(itemUnit);
            row.appendChild(itemAmount)
            counter = counter + 1 
            document.getElementById('itemsTable').appendChild(row)
            console.log(row);
        })
        /* end of Add elements to items table */

        /* Remove last element of items table */
        $("#removeItemButton").click(function () {
            var x = $("#itemsTable").children().length
            if (x != 0) {
                $("#itemsTable").children().last().remove()
            }
            counter = counter - 1
        })
        /* Remove last element of items table */
        
    });
</script>

{% endblock scripts %}