{% extends "budget/base.html" %}
{% load static %}
{% block title %}
    <title>Actividad - DARAS</title>
{% endblock title %}

{% block content %}
<!-- Heading -->
<div class="card mb-1 wow fadeIn">

    <!--Card content-->
    <div class="card-body d-sm-flex justify-content-between">

        <h6 class="mb-2 mb-sm-0 pt-1">
            <span class="text-muted">Dashboard</span>
            <span class="text-muted">/</span>
            <span>
                <a class="text-muted" href="{% url 'budget:budget-detail' budget.slug %}">
                    Presupuesto
                </a>
            </span>
            <span class="text-muted">/</span>
            <span>Actividad</span>

        </h6>

    </div>

</div>
<!-- Heading -->

<div class="row">
    <div class="col-sm-12">
        <div class="card p-5 wow fadeIn">
            <div class="card-body">
                <h1>Actividades específicas</h1>
                
                <p>
                    Actividad: {{item.description}} <br>
                    Duración: {{item.duration}} día{{item.duration|pluralize}} <br>
                </p>

                {% if subitems %}
                    <table class="table table-hover border">
                        <thead>
                            <tr class="blue text-white lighten-1 text-center">
                                <th>Descripción</th>
                                <th>Duración</th>
                                <th>Cantidad</th>
                                <th>Valor unitario</th>
                                <th>Valor total</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for s in subitems %}
                            <tr>
                                <td>
                                    {{s.description}}
                                </td>
                                <td class="text-center">
                                    {{s.unit}}
                                </td>
                                <td class="text-center">
                                    {{s.amount}}
                                </td>
                                <td class="text-center">
                                    {{s.unit_value|default_if_none:"-"}}
                                </td>
                                <td class="text-center">
                                    {{s.total_value|default_if_none:"-"}}
                                </td>
                                <td class="text-center">
                                    <a href="{% url 'budget:edit-subitem' budget.slug item.slug s.slug %}">
                                        <i class="far fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

                {% if not subitems %}
                  
                <p>A continuación podrás agregar actividades que conforman la actividad principal</p>
                {% endif %}
                <form action="" method="post">
                    {% csrf_token %}
                    <table id="workforceTable" class="table table-sm">
                        <thead>
                            <tr class="text-center">
                                <th>
                                    Actividad
                                </th>
                                <th>
                                    Unidad
                                </th>
                                <th>
                                    Cantidad
                                </th>
                                <th>
                                    Valor
                                </th>
                            </tr>
                        </thead>
                        <tbody id="workforceInputs">
                        
                        </tbody>
                        <tfoot>
                            <tr class="text-center grey lighten-5">
                                <td colspan="2"></td>

                                <td class="text-right">Subtotal</td>
                                <td class="text-left">$ 0.00</td>

                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td class="text-right" colspan="2">
                                    <a id="addWorkforceItemButton" class="btn btn-success">AGREGAR</a>
                                    <a id="removeWorkforceItemButton" class="btn btn-danger">BORRAR</a>
                                </td>

                            </tr>
                        </tfoot>
                    </table>

                    <button type="submit" class="btn btn-block btn-primary">GUARDAR</button>

                </form>

            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block scripts %}
{{block.super}}

<script>

    $(document).ready(function () {
        /* Highlight current sidebar item */
        $('#sidebar .list-group-item').removeClass('active');
        var $this = $('#btnSidebarBudget');
        if (!$this.hasClass('active')) {
            $this.addClass('active');
        }
        /* Highlight current sidebar item */

        /* Workforce */
        // Add item to Workforce area
        $("#addWorkforceItemButton").click(function () {
            "{% comment %}"
            // var url = "{% url 'api_rest:budget-subitem' budget.service.id item.id%}"
            "{% endcomment %}"
            var url = "{% url 'api_rest:units-list'%}"
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    var aux = ''
                    var aux = `<option value="" selected>Unidad</option>`;
                    for (let i = 0; i < data.length; i++) {
                        aux += `<option value="${data[i].id}">(${data[i].acronym}) ${data[i].name}</option>`
                    }

                    var row = document.createElement('tr')

                    var second_cell = document.createElement('td')
                    second_cell.classList.add("md-form")
                    second_cell.classList.add("m-0")

                    var workforceAmountInput = document.createElement('input')
                    workforceAmountInput.classList.add("form-control")
                    workforceAmountInput.classList.add("text-center")
                    workforceAmountInput.setAttribute('name', 'description')
                    workforceAmountInput.setAttribute('required', 'true')
                    workforceAmountInput.setAttribute('placeholder', 'Actividad')
                    workforceAmountInput.setAttribute('type', 'text')
                    second_cell.appendChild(workforceAmountInput)
                    row.appendChild(second_cell)

                    var first_cell = document.createElement('td')
                    var workforceSelect = document.createElement('select')
                    workforceSelect.classList.add("custom-select")
                    // workforceSelect.classList.add("custom-select-sm")
                    workforceSelect.classList.add("text-center")
                    workforceSelect.setAttribute("name", "unit")
                    workforceSelect.setAttribute("required", "true")
                    workforceSelect.innerHTML = aux;
                    first_cell.appendChild(workforceSelect)
                    row.appendChild(first_cell)
                    
                    
                    var third_cell = document.createElement('td')
                    var dailyPriceInput = document.createElement('input')
                    dailyPriceInput.classList.add("form-control")
                    dailyPriceInput.classList.add("text-center")
                    dailyPriceInput.setAttribute('name', 'amount')
                    dailyPriceInput.setAttribute('type', 'number')
                    dailyPriceInput.setAttribute('placeholder', 'Cantidad')
                    third_cell.appendChild(dailyPriceInput)
                    row.appendChild(third_cell)

                    /* var fourth_cell = document.createElement('td')
                    var performanceInput = document.createElement('input')
                    performanceInput.classList.add("form-control")
                    performanceInput.classList.add("text-center")
                    performanceInput.setAttribute('name', 'workforce-performance')
                    performanceInput.setAttribute('type', 'number')
                    performanceInput.setAttribute('placeholder', 'Rendimiento')
                    fourth_cell.appendChild(performanceInput)
                    row.appendChild(fourth_cell) */

                    var fifth_cell = document.createElement('td')
                    var valueInput = document.createElement('input')
                    valueInput.classList.add("form-control")
                    valueInput.classList.add("text-center")
                    valueInput.setAttribute('name', 'value')
                    valueInput.setAttribute('type', 'number')
                    valueInput.setAttribute('placeholder', 'Valor')
                    fifth_cell.appendChild(valueInput)
                    row.appendChild(fifth_cell)
                    
                    document.getElementById('workforceInputs').appendChild(row)
                })
                .catch(error => console.error(error))
        })
        // Remove last item from Workforce area
        $("#removeWorkforceItemButton").click(function () {
            var x = $("#workforceInputs").children().length
            if (x != 0) {
                $("#workforceInputs").children().last().remove()
            }
        })
        /* end of Workforce */
    })
</script>


{% endblock scripts %}