{% extends "budget/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% block title %}
<title>Crear presupuesto - DARAS</title>
{% endblock title %}

{% block content %}

<!-- Heading -->
<div class="row">
    <div class="col-12">
        <!-- Heading -->
        <div class="card mb-1 wow fadeIn">

            <!--Card content-->
            <div class="card-body d-sm-flex justify-content-between">

                <h6 class="mb-2 mb-sm-0 pt-1">
                    <span class="text-muted">Dashboard</span>
                    <span class="text-muted">/</span>
                    <span>Completar presupuesto</span>
                </h6>

            </div>

        </div>
        <!-- Heading -->
    </div>
</div>

<!-- Fill Budget -->
<div class="row">
    <div class="col-12">
        <!-- Card -->
        <div class="card">
            <!-- Card content -->
            <div class="card-body">
                <!-- Title -->
                <div class="d-flex">
                    <div class="w-50">
                        <h4 class="card-title">Completar presupuesto</h4>
                    </div>
                    <!-- Buttons -->
                    <div class="w-50 text-right">
                        <button type="submit" form="fill-budget-form" class="btn btn-sm btn-primary">Guardar</button>
                        <a href="{% url 'budget:preview-budget' budget.id %}" class="btn btn-sm btn-primary">Vista
                            previa</a>
                    </div>
                </div>

                <!-- Budget form -->
                <form action="" method="POST" id="fill-budget-form">
                    {% csrf_token %}
                    <!-- First row -->
                    <div class="row mb-5">
                        <!-- First column -->
                        <div class="col-4 border rounded p-2">
                            <!-- Consecutive -->
                            <div class="form-group">
                                <label for="id_client" style="margin: 0;">
                                    <small>Consecutivo</small>
                                </label>
                                <input type="text" name="consecutive" class="form-control form-control-sm"
                                    placeholder="" {% if budget.consecutive %}value="{{budget.consecutive}}"
                                    {% endif %} size="18">
                            </div>
                            <!-- Client -->
                            <div class="form-group">
                                <label for="id_client" style="margin: 0;">
                                    <small>Cliente</small>
                                </label>
                                <select name="client" class="form-control form-control-sm">
                                    {% for client in clients %}
                                    <option value="{{client.id}}" {% if client.id == budget.client.id %} selected
                                        {% endif %}>
                                        {{client.name|lower|capfirst}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Description -->
                            <div class="form-group">
                                <label for="id_description" style="margin: 0;">
                                    <small for="id_description">Descripción del proyecto</small>
                                </label>
                                <input type="text" name="subject" id="id_description"
                                    class="form-control form-control-sm"
                                    {% if budget.subject %}value="{{budget.subject}}" {% else %} autofocus {% endif %}>
                                {{budget.description}}
                            </div>
                        </div>
                        <!-- Second column -->
                        <div class="col-4 border rounded p-2  d-flex justify-content-center align-items-center">
                            <img src="{% static 'home/img/logo-daras.png' %}" alt="" style="width: 100%;">
                        </div>
                        <!-- Third column -->
                        <div class="col-4 border rounded p-2">
                            <!-- Delivery time -->
                            <div class="form-group">
                                <label for="" style="margin: 0;">
                                    <small>
                                        Tiempo de entrega
                                    </small>
                                </label>
                                <input type="text" name="delivery_time" maxlength="50" class="text-center form-control form-control-sm" id="id_delivery_time" {% if budget.delivery_time %}value="{{budget.delivery_time}}" {% endif %}>
                            </div>
                            <!-- Revision number -->
                            <div class="form-group">
                                <label for="" style="margin: 0;">
                                    <small>
                                        Número de revisión
                                    </small>
                                </label>
                                <input type="number" name="rev_number" min="0" class="text-center form-control form-control-sm" id="id_rev_number" {% if budget.rev_number %}value="{{budget.rev_number}}"{% endif %}>
                            </div>
                            
                            <div class="form-group">
                                <label for="" style="margin: 0;">
                                    <small>
                                        Aplicar IVA
                                    </small>
                                </label>
                                <select name="iva_option" class="form-control form-control-sm">
                                {% for x,y in form.fields.iva_option.choices %}
                                    <option value="{{x}}" {% if x == budget.iva_option %}selected{% endif %}>{{y}}</option>
                                {% endfor %}
                                </select>
                                
                            </div>
                        </div>
                    </div>
                    <!-- Second row -->
                    <div class="row mb-5">
                        <div class="col-sm-12 col-lg-12 p-0">
                            <!-- Table for products/items -->
                            <table id="BudgetElements" class="table">
                                <thead>
                                    <tr class="text-center blue lighten-5">
                                        <th class="font-weight-bold">Descripción</th>
                                        <th class="font-weight-bold">Unidad</th>
                                        {% if budget.typeOf.slug == 'apu' %}
                                        <th class="font-weight-bold">Duración</th>
                                        {% endif %}
                                        <th class="font-weight-bold">Cantidad</th>
                                        <th class="font-weight-bold">Opciones</th>
                                    </tr>
                                </thead>
                                {% if items %}
                                {% for item in items %}
                                <div>
                                    <tbody>
                                        <tr class="blue lighten-5" data-type="section" data-sectionid="{{item.id}}"
                                            data-budgetCode="{{budget.id}}">
                                            <td colspan="3" class="p-2">
                                                <p id="desc{{item.id}}" class="m-0">
                                                    <strong>
                                                        {{item.description}}
                                                    </strong>
                                                </p>
                                            </td>
                                            <td colspan="2" class="p-2 text-right text-muted">
                                                <i class="delSection fas fa-trash-alt mr-1"
                                                    style="cursor: pointer;"></i>
                                                <i class="updateSection fas fa-edit  mr-1" style="cursor: pointer;"></i>
                                            </td>
                                        </tr>
                                        {% if item.subitems %}
                                        {% for i in item.subitems.all %}
                                        <tr class="" data-type="product" data-id="{{i.id}}"
                                            data-budgetCode="{{budget.id}}">
                                            <td class="p-2" style="width: 50%;">
                                                <p class="m-0">
                                                    {{i.description}}
                                                </p>
                                            </td>
                                            <td class="text-center p-2">
                                                <p class="m-0">
                                                    {{i.unit.acronym}} - {{i.unit.name}}
                                                </p>
                                            </td>
                                            {% if budget.typeOf.slug == 'apu' %}
                                            <td class="text-center p-2">
                                                <p class="m-0">
                                                    {{i.duration}}
                                                </p>
                                            </td>
                                            {% endif %}
                                            <td class="text-center p-2">
                                                <p class="m-0">
                                                    {{i.amount}}
                                                </p>
                                            </td>
                                            <td class="p-2 text-right text-muted">
                                                <i class="delProduct fas fa-trash-alt mr-1"
                                                    style="cursor: pointer;"></i>
                                                <i class="updateProduct fas fa-edit mr-1" style="cursor: pointer;"></i>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </table>
                            <table class="w-100 m-0 p-0">
                                <tr class="text-center blue lighten-5">
                                    <td colspan="3">
                                        
                                        {% if budget.typeOf.slug == 'apu' %}
                                            <a href="#" class="btn btn-sm btn-success" data-toggle="modal"
                                                data-target="#sectionModal">Agregar sección</a>
                                            <a href="#" class="btn btn-sm btn-primary" data-toggle="modal"
                                                data-target="#productModal">Agregar producto</a>
                                        {% else %}
                                            <a href="#" class="btn btn-sm btn-success" data-toggle="modal" data-target="#sectionModal">Agregar sección</a>
                                            <a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#activityProduct">Agregar actividad</a>
                                        {% endif %}
                                            
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <!-- Third row -->
                    <div class="row mb-5">
                        <div class="col-sm-9 m-auto">
                            <!--Textarea with icon prefix-->
                            <div class="md-form">
                                <i class="fas fa-pencil-alt prefix"></i>
                                <textarea id="form10" name="comment" class="md-textarea form-control"
                                    rows="5">{% if budget.comment %}{{budget.comment}}{% endif %}</textarea>
                                <label for="form10">Observaciones</label>
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <h5>Costos indirectos</h5>
                            
                            <div class="form-group m-0">
                                <label for="" style="margin: 0;">
                                    <small>
                                        Porcentaje de administración
                                    </small>
                                </label>
                                {% render_field form.administration_percentage class="form-control form-control-sm text-center" placeholder="% de administración" value=budget.administration_percentage required="true" %}
                            </div>
                            <div class="form-group m-0">
                                <label for="" style="margin: 0;">
                                    <small>
                                        Porcentaje de imprevistos
                                    </small>
                                </label>
                                {% render_field form.incidentals_percentaje class="form-control form-control-sm text-center" placeholder="% de imprevistos" value=budget.incidentals_percentaje required="true" %}
                            </div>
                            <div class="form-group m-0">
                                <label for="" style="margin: 0;">
                                    <small>
                                        Porcentaje de utilidad
                                    </small>
                                </label>
                                {% render_field form.utility_percentage class="form-control form-control-sm text-center" placeholder="% de utilidad" value=budget.utility_percentage required="true" %}
                            </div>
                            <!-- AIU -->
                            <div class="form-group m-0">
                                <label for="" style="margin: 0;">
                                    <small>
                                        Aplicar AIU a
                                    </small>
                                </label>
                                
                                <select name="aiu_over" class="form-control form-control-sm">
                                {% for x,y in form.fields.aiu_over.choices %}
                                    <option value="{{ x }}"{% if budget.aiu_over == x %} selected{% endif %}>{{ y }}</option>
                                {% endfor %}
                                </select>
                            </div>
                            
                        </div>
                    </div>
                    <!-- Form buttons -->
                    <div class="w-50 text-left">
                        <button type="submit" form="fill-budget-form" class="btn btn-sm btn-primary">Guardar</button>
                        <a href="{% url 'budget:preview-budget' budget.id %}" class="btn btn-sm btn-primary">Vista
                            previa</a>
                    </div>
                </form>
                <!---------------------------- APU MODALS---------------------------->

                <!-- Modal to add section -->
                <div class="modal fade" id="sectionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">

                    <!-- Change class .modal-sm to change the size of the modal -->
                    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                        <div class="modal-content">
                            <!-- Modal header -->
                            <div class="modal-header">
                                <h4 class="modal-title w-100" id="myModalLabel">Agregar sección</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!-- Modal body -->
                            <div id="sectionBody" class="modal-body">
                                <!-- Form -->
                                <form id="sectionForm" action="" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="">
                                            <small>Título</small>
                                        </label>
                                        <input id="sectionName" type="text" name="description" class="form-control"
                                            required="true" autofocus>
                                    </div>

                                </form>

                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm"
                                    data-dismiss="modal">Cancelar</button>
                                <button id="addSection" type="button" class="btn btn-primary btn-sm">Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal to add section -->

                <!-- Modal to update section -->
                <div class="modal fade" id="updateSectionModal" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel" aria-hidden="true">

                    <!-- Change class .modal-sm to change the size of the modal -->
                    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                        <div class="modal-content">
                            <!-- Modal header -->
                            <div class="modal-header">
                                <h4 class="modal-title w-100" id="myModalLabel">Actualizar sección</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!-- Modal body -->
                            <div id="updateSectionBody" class="modal-body">
                                <!-- Form -->
                                <form id="updateSectionForm" action="" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="">
                                            <small>Nueva descripción</small>
                                        </label>
                                        <input id="updateSectionName" type="text" name="description" class="form-control" required="true" autofocus>
                                    </div>

                                </form>

                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm"
                                    data-dismiss="modal">Cancelar</button>
                                <button id="updateSection" type="button" class="btn btn-primary btn-sm">Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal to update section -->

                <!-- Modal to delete section -->
                <div class="modal fade" id="deleteSectionModal" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel" aria-hidden="true">

                    <!-- Change class .modal-sm to change the size of the modal -->
                    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                        <div class="modal-content">
                            <!-- Modal header -->
                            <div class="modal-header">
                                <h4 class="modal-title w-100" id="myModalLabel">Eliminar sección</h4>
                                <button id="addBtnSectionModal" type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="" method="post" id="deleteSectionForm">
                                    {% csrf_token %}
                                    <div class="text-center" id="delSectionContent">
                                    </div>
                                </form>
                                <!--  -->

                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light btn-sm"
                                    data-dismiss="modal">Cancelar</button>
                                <button id="delSection" type="button" class="btn btn-danger btn-sm">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal to delete section -->

                <!-- Modal to add product -->
                <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">

                    <!-- Change class .modal-sm to change the size of the modal -->
                    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                        <div class="modal-content">
                            <!-- Modal header -->
                            <div class="modal-header">
                                <h4 class="modal-title w-100" id="myModalLabel">Agregar producto</h4>
                                <button id="addBtnSectionModal" type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <!-- Form -->
                                <form id="productForm" action="" method="POST">
                                    {% csrf_token %}
                                    <!-- Description -->
                                    <div class="form-group">
                                        <label for="">
                                            <small>Descripción del producto</small>
                                        </label>
                                        <input id="productDescription" type="text" name="description"
                                            class="form-control" required="true" autofocus="true">
                                    </div>
                                    <!-- Unit -->
                                    <div class="form-group">
                                        <label for="">
                                            <small>Unidad</small>
                                        </label>
                                        <select class="form-control" name="unit">
                                            <option selected></option>
                                            {% for u in units %}
                                            <option value="{{u.id}}">({{u.acronym|upper}})- {{u.name|lower|capfirst}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!-- Days -->
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="">
                                                <small>Duración de la actividad</small>
                                            </label>
                                            <input id="productDuration" type="number" name="duration"
                                                class="form-control" required>
                                        </div>
                                    </div>
                                    <!-- Amount -->
                                    <div class="form-group">
                                        <label for="">
                                            <small>Cantidad</small>
                                        </label>
                                        <input id="productAmount" type="number" name="amount" class="form-control"
                                            required>
                                    </div>

                                </form>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm"
                                    data-dismiss="modal">Cancelar</button>
                                <button id="addProduct" type="button" class="btn btn-primary btn-sm">Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal to add product -->

                <!-- Modal to update product -->
                <div class="modal fade" id="updateProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

                    <!-- Change class .modal-sm to change the size of the modal -->
                    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                        <div class="modal-content">
                            <!-- Modal header -->
                            <div class="modal-header">
                                <h4 class="modal-title w-100" id="myModalLabel">Actualizar actividad</h4>
                                <button id="addBtnSectionModal" type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <!-- Form -->
                                <form id="updateProductForm" action="" method="POST">
                                    {% csrf_token %}
                                    <!-- Description -->
                                    <div class="form-group">
                                        <label for="">
                                            <small>Nueva descripción</small>
                                        </label>
                                        <input id="updateProductDescription" type="text" name="description" class="form-control" required="true" autofocus="true">
                                    </div>
                                    <!-- Unit -->
                                    <div class="form-group">
                                        <label for="">
                                            <small>Unidad</small>
                                        </label>
                                        <select class="form-control" name="unit">
                                            <option selected></option>
                                            {% for u in units %}
                                            <option value="{{u.id}}">({{u.acronym|upper}})- {{u.name|lower|capfirst}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <!-- Days -->
                                    <div class="form-group">
                                        <div class="form-group">
                                            <label for="">
                                                <small>Duración de la actividad</small>
                                            </label>
                                            <input id="productDuration" type="number" name="duration"
                                                class="form-control" required>
                                        </div>
                                    </div>
                                    <!-- Amount -->
                                    <div class="form-group">
                                        <label for="">
                                            <small>Cantidad</small>
                                        </label>
                                        <input id="productAmount" type="number" name="amount" class="form-control"
                                            required>
                                    </div>
                                    
                                </form>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm"
                                    data-dismiss="modal">Cancelar</button>
                                <button id="updateProduct" type="button" class="btn btn-primary btn-sm">Agregar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal to update product -->

                <!-- Modal to delete product -->
                <div class="modal fade" id="deleteProductModal" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel" aria-hidden="true">

                    <!-- Change class .modal-sm to change the size of the modal -->
                    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                        <div class="modal-content">
                            <!-- Modal header -->
                            <div class="modal-header">
                                <h4 class="modal-title w-100" id="myModalLabel">Eliminar producto</h4>
                                <button id="addBtnSectionModal" type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <form action="" method="post" id="deleteProductForm">
                                    {% csrf_token %}
                                    <div class="text-center" id="delProductContent">
                                    </div>
                                </form>
                                <!--  -->

                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light btn-sm"
                                    data-dismiss="modal">Cancelar</button>
                                <button id="delProduct" type="button" class="btn btn-danger btn-sm">Eliminar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal to delete product -->
                
                <!---------------------------- APU MODALS---------------------------->
                
                <!---------------------------- ACTIVITIES MODALS---------------------------->
                
                <!-- Add activity -->
                
                <div class="modal fade" id="activityProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">

                    <!-- Change class .modal-sm to change the size of the modal -->
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <!-- Modal header -->
                            <div class="modal-header">
                                <h4 class="modal-title w-100" id="myModalLabel">Agregar actividad</h4>
                                <button id="addBtnSectionModal" type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <table id="activities_table" class="table">
                                    <thead>
                                        <th>Titulo</th>
                                        <th>Categoría</th>
                                        <th>Unidad</th>
                                        <th>Precio unitario</th>
                                        <th>Opciones</th>
                                    </thead>
                                    <tbody>
                                    {% for a in activities %}
                                        <tr>
                                            <td class="text-center">{{a.title}}</td>
                                            <td class="text-center">{{a.category.title}}</td>
                                            <td class="text-center">{{a.unit.acronym}}</td>
                                            <td class="text-center">{{a.unit_value|safe}}</td>
                                            <td class="text-center">
                                                <a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#testModal">Agregar</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>                               
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                                <!-- <button type="button" class="btn btn-primary btn-sm">Agregar</button> -->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Ask amount of activity -->
                <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">

                    <!-- Change class .modal-sm to change the size of the modal -->
                    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                        <div class="modal-content">
                            <!-- Modal header -->
                            <div class="modal-header">
                                <h4 class="modal-title w-100" id="myModalLabel">Agregar actividad</h4>
                                <button id="addBtnSectionModal" type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <form id="addActivityForm" action="" method="post">
                                    {% csrf_token %}
                                    <label for="">
                                        <small>Descripción de la actividad</small>
                                    </label>
                                    <div class="form-group">
                                        <input type="text" name="description" id="activityDescription" class="form-control form-control-sm" readonly>
                                    </div>
                                    <label for="">
                                        <small>Unidad</small>
                                    </label>
                                    <div class="form-group">
                                        <input type="text" name="unit" id="activityUnit" class="form-control form-control-sm" readonly>
                                    </div>
                                    <label for="">
                                        <small>Precio unitario</small>
                                    </label>
                                    <div class="form-group">
                                        <input type="text" name="unit_value" id="activityUnitValue" class="form-control form-control-sm" readonly>
                                    </div>
                                    <label for="">
                                        <small>Cantidad</small>
                                    </label>
                                    <div class="form-group">
                                        <input type="number" name="amount" id="activityAmount" class="form-control form-control-sm" required>
                                    </div>
                                </form>
                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
                                <button id="addActivity" type="button" class="btn btn-primary btn-sm">Confirmar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Ask amount of activity -->

                <!-- Add activity -->
                
                <!---------------------------- ACTIVITIES MODALS---------------------------->
                







            </div>
        </div>
        <!-- Card -->
    </div>
</div>


{% endblock content %}

{% block scripts %}
{{block.super}}

<script>
    $(document).ready(function () {

        /* Highlight current sidebar item */
        $('#sidebar .list-group-item').removeClass('active');
        var $this = $('#btnSidebarBudget');
        if (!$this.hasClass('active')) {
            $this.addClass('active');
        }

        /* Table search */
        $('#activities_table').DataTable({
            "pagingType": "simple_numbers",
            "pageLength":3, //Initial amount of rows
            "lengthChange": true,
            "lengthMenu": [ 3,10, 25, 50, 75, 100 ],
            "language":{
                "info": "Página _PAGE_ de _PAGES_",
                "search":         "Buscar:",
                "lengthMenu":     "Mostrar _MENU_ filas",
                "paginate": {
                    "first":      "Inicio",
                    "last":       "Fin",
                    "next":       "Siguiente",
                    "previous":   "Anterior"
                }, 

            }
               
        });
        $('.dataTables_length').addClass('bs-select');

        /* Enable autofocus in Bootstrap modals */
        $('.modal').on('shown.bs.modal', function () {
            $(this).find('[autofocus]').focus();
        });

        /* Activate select input from MD Bootstrap 4 */
        $('.mdb-select').materialSelect();

        /* Validate element data-type of the last element of table */
        function validateLastElement() {
            var type = $("#BudgetElements tr:last").data("type")
            // Type can return 'section' or 'product'
            return type;
        }

        /* Add section element */
        $("#addSection").click(function () {

            var v = validateLastElement();

            if (v != 'section') {
                var form = document.getElementById("sectionForm");
                const data = new FormData(form);
                var url = "{% url 'api_rest:create-item' budget.id %}";
                fetch(url, {
                    method: 'POST',
                    body: data
                }).then(function (response) {
                    if (response.ok) {
                        return response.json()
                    }
                    else {
                        throw "Error en la llamada ajax";
                    }
                }).then(function (data) {

                    console.log("Texto: ", data);

                    var HTMLString =
                        `
                    <tbody>
                        <tr class="blue lighten-5" data-type="section" data-sectionid="${data.id}" data-budgetCode="{{budget.id}}">
                            <td colspan="3" class="p-2">
                                <strong>
                                    <p class="m-0">${data.description}</p>
                                </strong>
                            </td>
                            <td colspan="2" class="p-2 text-right text-muted">
                                <i class="delSection fas fa-trash-alt mr-1" style="cursor:pointer;"></i>
                                <i class="updateSection fas fa-edit mr-1" style="cursor:pointer;"></i>
                            </td>
                        </tr>
                    </tbody>
                    `
                    element = document.createElement("tbody");
                    element.innerHTML = HTMLString;
                    document.getElementById('BudgetElements').appendChild(element)
                    $("#sectionModal").modal('toggle')
                    $("#sectionName").val('')
                    // $("#sectionDuration").val('')

                })
                    .catch(function (err) {
                        console.log(err);
                    });
            }
            else {
                console.log("No se puede agregar otra sección. No tiene sentido.");

                var alert = document.createElement('div')
                alert.classList.add("alert")
                alert.classList.add("small")
                alert.classList.add("alert-danger")
                alert.classList.add("text-center")
                alert.setAttribute("role", "alert")
                alert.innerHTML = "No se puede agregar una sección a otra sección.<br>Intenta agregar un producto."
                document.getElementById('sectionBody').appendChild(alert)




            }
        })

        /* Add product to table */
        $("#addProduct").click(function () {
            var lastSectionID = parseInt($("tr[data-type='section']:last").data('sectionid'))
            var form = document.getElementById("productForm");
            const data = new FormData(form);
            /* Sadly I have to write the URL in this way and not with the Django tag URL */
            var url = `/api/budget/{{budget.id}}/add-subitem/${lastSectionID}`;
            fetch(url, {
                method: 'POST',
                body: data
            }).then(function (response) {
                if (response.ok) {
                    return response.json()
                }
                else {
                    throw "Error en la llamada ajax";
                }
            }).then(function (data) {

                // console.log("Texto: ", data);
                var lastSection = $("#BudgetElements tbody:last")
                var HTMLString =
                    `
                        <td class="p-2" style="width: 50%;">
                            <p class="m-0">${data.description}</p>
                        </td>
                        <td class="text-center p-2">
                            <p class="m-0">
                                ${data.unit}
                            </p>
                        </td>
                        <td class="text-center p-2">
                            <p class="m-0">
                                ${data.duration}
                            </p>
                        </td>
                        <td class="text-center p-2">
                            <p class="m-0">
                                ${data.amount}
                            </p>
                        </td>
                        <td class="p-2 text-right text-muted" >
                            
                            <i class="delProduct fas fa-trash-alt mr-1" style="cursor:pointer;"></i>
                            
                            <i class="fas fa-edit mr-1"></i>
                        </td>
                    `

                element = document.createElement("tr");
                // element.classList.add("grey")
                element.classList.add("lighten-3")
                element.setAttribute("data-type", "product")
                element.setAttribute("data-productid", `${data.id}`)
                element.setAttribute("data-budgetCode", "{{budget.id}}")
                element.innerHTML = HTMLString;

                $(element).appendTo(lastSection)

            })
                .catch(function (err) {
                    console.log(err);
                });
            $("#productModal").modal('toggle')
            $("#productDescription").val('')
            $("#productDuration").val('')
            $("#productAmount").val('')


        })

        /* Delete product */
        $("#BudgetElements").on('click', 'tbody tr td .delProduct', function (e) {
            var container = document.getElementById('delProductContent')
            // Reset modal content
            container.innerHTML = "";
            // console.log("EEEEE",e);


            var product_name = $(this).parent().parent().find('p').first().text().trim();
            var item_pk = $(this).parent().parent().data('id')
            var row = $(this).parent().parent()[0]

            // console.log(product_name);
            // console.log(item_pk);

            message = document.createElement('p')
            message.innerHTML = `¿Seguro que quiere eliminar <strong>"${product_name}"</strong>?`;
            container.appendChild(message)

            // Hidden input
            var input = document.createElement('input')
            input.setAttribute('type', 'number')
            input.setAttribute('name', 'subitem_pk')
            input.setAttribute('value', item_pk)
            input.setAttribute('hidden', 'true')
            input.classList.add('form-control')
            input.classList.add('form-control-sm')
            input.classList.add('text-center')
            container.appendChild(input)

            // Show modal
            $("#deleteProductModal").modal('toggle')

            $("#delProduct").click(function () {
                var form = document.getElementById("deleteProductForm");
                const data = new FormData(form);
                var url = `{% url 'api_rest:del-subitem' budget.id %}`;
                fetch(url, {
                    method: 'POST',
                    body: data
                }).then(function (response) {
                    if (response.ok) {
                        return response.json()
                    }
                    else {
                        throw "Error en la llamada ajax";
                    }
                })
                    .then(function (data) {
                        console.log(data.status);
                        row.remove()
                        $("#deleteProductModal").modal('toggle')
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            })
            /* End del product on click */

        });
        /* End del product */

        /* Delete section */
        $("#BudgetElements").on('click', 'tbody tr td .delSection', function (e) {
            var container = document.getElementById('delSectionContent')
            // Reset modal content
            container.innerHTML = "";

            var section_name = $(this).parent().parent().find('p').first().text().trim();
            var section_pk = $(this).parent().parent().data('sectionid')

            // Tbody element
            var block = $(this).parent().parent().parent()

            message = document.createElement('span')
            message.innerHTML =
                `
            <p>¿Seguro que quiere eliminar <strong>"${section_name}"</strong>?</p>
            <small class="alert alert-danger text-center">
                Esta acción eliminará la sección y sus actividades
            </small>
            `;
            container.appendChild(message)

            // Hidden input
            var input = document.createElement('input')
            input.setAttribute('type', 'number')
            input.setAttribute('name', 'section_pk')
            input.setAttribute('value', section_pk)
            input.setAttribute('hidden', 'true')
            input.classList.add('form-control')
            input.classList.add('form-control-sm')
            input.classList.add('text-center')
            container.appendChild(input)

            // Show modal
            $("#deleteSectionModal").modal('toggle')

            $("#delSection").click(function () {
                var form = document.getElementById("deleteSectionForm");
                const data = new FormData(form);
                var url = `{% url 'api_rest:del-item' budget.id %}`;
                fetch(url, {
                    method: 'POST',
                    body: data
                }).then(function (response) {
                    if (response.ok) {
                        return response.json()
                    }
                    else {
                        throw "Error en la llamada ajax";
                    }
                })
                    .then(function (data) {
                        // console.log(data.status);
                        block.remove()
                        $("#deleteSectionModal").modal('toggle')
                    })
                    .catch(function (error) {
                        console.log(error);
                    })
            })
            /* End del section on click */

        });
        /* End del section */

        /* Update section */
        $("#BudgetElements").on('click', 'tbody tr td .updateSection', function (e) {
            // console.log(this);
            var section_name = $(this).parent().parent().find('p').first().text().trim();
            var section_pk = $(this).parent().parent().data('sectionid')
            
            // Clear description input in modal
            $("#updateSectionName").val("")
            
            // Show modal
            $("#updateSectionModal").modal('toggle')

            // Change description in database and in the template
            $("#updateSection").click(function () {
                var form = document.getElementById("updateSectionForm");
                const data = new FormData(form);
                var url = `/api/budget/{{budget.id}}/update/item/${section_pk}`;
                fetch(url, {
                    method: 'POST',
                    body: data
                }).then(function (response) {
                    if (response.ok) {
                        return response.json()
                    }
                    else {
                        throw "Error en la llamada ajax";
                    }
                })
                .then(function (data) {
                    // Reload page
                    location.reload()
                    // Toggle modal
                    $("#updateSectionModal").modal('toggle')
                })
                .catch(function (error) {
                    console.log(error);
                })
            })
            /* End del section on click */

        });
        /* End update section */

        /* Update product */
        $("#BudgetElements").on('click', 'tbody tr td .updateProduct', function (e) {
            console.log(this);
            var subitem_pk = $(this).parent().parent().data('id')
            
            // Show modal
            $("#updateProductModal").modal('toggle')

            // Change description in database and in the template
            $("#updateProduct").click(function () {
                var form = document.getElementById("updateProductForm");
                const data = new FormData(form);
                var url = `/api/budget/{{budget.id}}/update/subitem/${subitem_pk}`;
                fetch(url, {
                    method: 'POST',
                    body: data
                }).then(function (response) {
                    if (response.ok) {
                        return response.json()
                    }
                    else {
                        throw "Error en la llamada ajax";
                    }
                })
                .then(function (data) {
                    // Reload page
                    location.reload()
                    // Toggle modal
                    $("#updateProductModal").modal('toggle')
                })
                .catch(function (error) {
                    console.log(error);
                })
            })
            /* End del section on click */

        });
        /* End update product */

        /* ---------- Activities ----------- */
        $("#activities_table").on('click','tbody tr td a',function(e){
            var title = $(this).parent().parent().children().first().text()
            var category = $(this).parent().parent().children().first().next().text()
            var unit = $(this).parent().parent().children().first().next().next().text()
            var unit_value = $(this).parent().parent().children().first().next().next().next().text()
            $("#activityUnitValue").val(unit_value)
            $("#activityDescription").val(category+" - "+title)
            $("#activityUnit").val(unit)
            

            /*  */
            $("#addActivity").click(function(){
                var last_item_id = parseInt($("tr[data-type='section']:last").data('sectionid'))
                var form = document.getElementById("addActivityForm")
                const data = new FormData(form);
                var url = `/api/budget/{{budget.id}}/add-activity/${last_item_id}`;
                fetch(url, {
                method: 'POST',
                body: data})
                .then(function (response) {
                    if (response.ok) {
                        return response.json()
                    }
                    else {
                        throw "Error en la llamada ajax";
                    }
                })
                .then(function(data){
                    console.log(data);
                    window.location.reload();
                })
            })
            /*  */

            
        })
        /* ---------- Activities ----------- */


    })
</script>
{% endblock scripts %}